@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Roboto", "sans-serif";
}

.intro {
    margin: 36px;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    height: 80vh;
}

.intro__img img {
    border-radius: 40%;
}


.intro__info {
    color: rgb(233, 45, 139);
    font-size: 30px;
    font-family: "Lato";
}

.wave-banner {
  position: relative;
  height: 200px;
  margin-top: 2rem;
  overflow: hidden;
  /* no background gradient here anymore */
}


.wave-banner-wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: block;
  pointer-events: none;
}
